﻿<%@ Page Title="" Language="C#" MasterPageFile="~/PROTECTED/WykladowcaLayer/MasterWykladowca.master" AutoEventWireup="true" CodeFile="StronaWykladowca.aspx.cs" Inherits="PROTECTED_WykladowcaLayer_StronaWykladowca" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
</asp:Content>

